<h1>Editing presentation</h1>

<% form_for(@presentation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :presenter %><br />
    <%= f.text_field :presenter %>
  </p>
  <p>
    <%= f.label :presenter_email %><br />
    <%= f.text_field :presenter_email %>
  </p>
  <p>
    Room<br />
    <%= @presentation.room.name %>
  </p>
  <p>
    Timeslot<br />
    <%= @presentation.timeslot %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @presentation %> |
<%= link_to 'Back', presentations_path %>
