<h1>New presentation</h1>

<% form_for(@presentation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :presenter %><br />
    <%= f.text_field :presenter %>
  </p>
  <p>
    <%= f.label :presenter_email %><br />
    <%= f.text_field :presenter_email %>
  </p>
    <%= f.hidden_field :room_id %>
    <%= f.hidden_field :timeslot_id %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', :controller=>'schedule', :action=>'admin' %>
