<h1>New presentation</h1>

<% form_for(@presentation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :presenter %><br />
    <%= f.text_field :presenter %>
  </p>
  <p>
    <%= f.label :presenter_email %><br />
    <%= f.text_field :presenter_email %>
  </p>
  <p>
    <%= f.label :room_id %><br />
    <%= f.collection_select( :room_id, Room.find(:all), :id, :name ) %>
  </p>
  <p>
    <%= f.label :timeslot_id %><br />
    <%= f.collection_select( :timeslot_id, Timeslot.find(:all), :id, :start_time ) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', presentations_path %>
