<a name="top_of_page"/>
<h1>
    <%= @presentation.timeslot.start_time.strftime("%I:%M %p") %> - 
    <%= @presentation.title %> &nbsp;&nbsp;&nbsp; <%=link_to '&lt; Back to schedule', '/schedule'%>
</h1>
<p>
	<label>Title: </label>
	<span class="field"><%= @presentation.title %></span>
</p>
<p>
	<label>Presenter: </label>
	<span class="field"><%= @presentation.presenter %></span>
</p>
<p>
	<label>Room: </label>
	<span class="field"><%= @presentation.room.name%> (<%=@presentation.room.location%>)</span>
</p>
<%- if @presentation.comments.size > 0  -%>
<h1>Comments &nbsp;&nbsp;&nbsp; <a href="#comment_form">+ Add a comment</a></h1>
<% end %>
<div id="comments_<%=@presentation.id%>">
<%@presentation.comments[0..20].each do |comment| %>
<span style="color:#666;"><%=h comment.name %> wrote:</span>
<%=h comment.body %><em style="color:#666;"> at <%= (comment.created_at - 5.hours).strftime("%I:%M %p")%></em>
<hr/>
<% end %>
</div>

<h1><a name="comment_form">Add a comment</a> &nbsp;&nbsp;&nbsp; <a href="#top_of_page">^ Back to top</a></h1>
<% remote_form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :presentation_id, :value=>@presentation.id %>
  <p>
    <%= f.label :name %> <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :body, :cols=>60, :rows=>4 %>
  </p>
  <p>
    <%= f.label :email %> (won't be shown) <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
