<%if !@presentation.nil? and @presentation.respond_to? :title%>
  <div id="presentation_<%="#{@presentation.id}"%>" class="presentation">
	<div class="buttons" style="float: right;">
		<%= image_tag 'replace.png' %><br/>
		<%= link_to image_tag('delete.png', :border=>0), @presentation, :confirm => 'Are you sure?', :method => :delete  %>
	</div>
    <strong><%=link_to @presentation.title, edit_presentation_path(@presentation)%></strong><br/>
    <%=@presentation.presenter%><br/>
    <%=@presentation.presenter_email%>
  </div>
 <script>
	new Draggable('presentation_<%="#{@presentation.id}"%>', { revert: true });
	Droppables.add('presentation_<%="#{@presentation.id}"%>', { hoverclass: 'hovering', onDrop: dropped });
 </script>
<% else %>
  <div id="empty_<%="#{@timeslot_id}.#{@room_id}"%>" class="presentation">
	<div class="buttons" style="float: right;">
		<%= image_tag 'replace.png' %><br/>
	</div>
    <%= link_to 'empty', :controller=>:presentations, :action=>:new, :params=>{:presentation=>{:room_id=>@room_id, :timeslot_id=>@timeslot_id}} %>
  </div>
 <script>
	new Draggable('empty_<%="#{@timeslot_id}.#{@room_id}"%>', { revert: true, scroll: window });
	Droppables.add('empty_<%="#{@timeslot_id}.#{@room_id}"%>', { hoverclass: 'hovering', onDrop: dropped });
 </script>
<% end %>