<script type="text/javascript" charset="utf-8">
	function dropped(draggable, droppable, event) {
		new Ajax.Request('/presentations/swap?from='+draggable.id+'&to='+droppable.id+'&authenticity_token='+rails_authenticity_token, {asynchronous:true, evalScripts:true});
		event.stopPropagation();
	}
</script>

<table width="100%" cellspacing="0" class="schedule">
  <tr>
    <th width="10%">Room</th>
    <% @timeslots.each do |timeslot| %>
      <th width="<%=90/@timeslots.size%>%">
        <%=timeslot.start_time.strftime("%I:%M %p")%>
      </th>
    <% end %>
  </tr>
  <% @rooms.each_with_index do |room, rm_index| %>
    <tr>
      <td>
        <%=room.name%> (<%=room.location%>)
      </td>
    <% @timeslots.each_with_index do | timeslot, ts_index| %>
      <% @presentation = @grid[ts_index][rm_index] %>
	  <% @timeslot_id = timeslot.id %>	
	  <% @room_id = room.id %>
      <td><div id="cell_<%=@timeslot_id%>.<%=@room_id%>">
		<%=render :partial=>'presentation'%>
      </div></td>
    <% end %>
    </tr>
  <% end %>
</table>
