<table width="100%" cellspacing="0" class="schedule">
  <tr>
    <th width="10%">Room</th>
    <% @timeslots.each do |timeslot| %>
      <th width="<%=90/@timeslots.size%>%">
        <%=timeslot.start_time.strftime("%I:%M %p")%>
      </th>
    <% end %>
  </tr>
  <% @rooms.each_with_index do |room, rm_index| %>
    <tr>
      <td>
        <%=room.name%> (<%=room.location%>)
      </td>
    <% @timeslots.each_with_index do |timeslot, ts_index| %>
      <% presentation = @grid[ts_index][rm_index] %>
      <td>
        <%if !presentation.nil? and presentation.respond_to? :title%>
          <div id="presentation_<%="#{timeslot.id}_#{room.id}"%>">
            <%=presentation.title%><br/>
            <%=presentation.presenter%><br/>
            <%=presentation.presenter_email%>
          </div>
         <script>
			new Draggable('presentation_<%="#{timeslot.id}_#{room.id}"%>', { revert: true });
			Droppables.add('presentation_<%="#{timeslot.id}_#{room.id}"%>');
         </script>
        <% else %>
          <div id="empty_<%="#{timeslot.id}_#{room.id}"%>" object="presentation" url="<%=url_for presentation%>.xml">
            <%= link_to 'empty', :controller=>:presentations, :action=>:new, :params=>{:presentation=>{:room_id=>room.id, :timeslot_id=>timeslot.id}} %>
          </div>
         <script>
			new Draggable('empty_<%="#{timeslot.id}_#{room.id}"%>', { revert: true, scroll: window });
			Droppables.add('empty_<%="#{timeslot.id}_#{room.id}"%>');
         </script>
        <% end %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>
