<% #@days.each do |day| %>
        <% #link_to_unless(day == @selected_day, day, :controller=>'schedule', :selected_day=>day) { day } %>
<% #end %>

<table class="schedule" cellspacing="0" width="100%">
  <tr>

    <th width="10%">Room</th>
    <% @timeslots.each do |timeslot| %>
      <th width="<%=90/@timeslots.size%>%">
        <%=timeslot.start_time.strftime("%I:%M %p")%>
      </th>
    <% end %>

  </tr>


  <% @rooms.each_with_index do |room, rm_index| %>
    <tr>
      <td>
        <%=room.name%> (<%=room.location%>)
      </td>
    <% @timeslots.each_with_index do |timeslot, ts_index| %>
      <% presentation = @grid[ts_index][rm_index] %>
      <td>
        <%if !presentation.nil? and presentation.respond_to? :title%>
          <strong><%=link_to presentation.title, presentation_path(presentation)%></strong><br/>
          <%=presentation.presenter%>
		<% else %>
			&nbsp;
        <% end %>
      </td>
    <% end %>
    </tr>
  <% end %>

</table>
