<table class="schedule" cellspacing="0" width="100%">
  <%=render :partial=>'column_heading'%>
  <% @rooms.each_with_index do |room, rm_index| %>
    <tr>
      <td>
        <%=room.name%> (<%=room.location%>)
      </td>
    <% @timeslots.each_with_index do |timeslot, ts_index| %>
      <% presentation = @grid[ts_index][rm_index] %>
      <td>
        <%if !presentation.nil? and presentation.respond_to? :title%>
          <strong><%=link_to presentation.title, presentation_path(presentation)%></strong><br/>
          <%=presentation.presenter%>
		<% else %>
			&nbsp;
        <% end %>
      </td>
    <% end %>
    </tr>
  <% end %>

</table>
