<% content_for :title do %>
	BarCamp Philly Schedule
<% end %>
<% content_for :header do %>
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<%= stylesheet_link_tag "../iui/iuix.css", :media => "screen" %>
	<%= javascript_include_tag "../iui/iui.js" %>
<% end %>


<div class="toolbar">
    <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
    <a class="button" href="#all_rooms">Schedule</a>
</div>

<ul id="all_rooms" title="Barcamp Philly Schedule" selected="true">
  <% @timeslots.each_with_index do |timeslot, ts_index| %>
  <li class="group" id="<%=timeslot.start_time.strftime("%H-%M")%>"><a href="#ts_<%=ts_index%>"><%=timeslot.start_time.strftime("%I:%M %p")%></a></li>
  <% end %>
</ul>

<% @timeslots.each_with_index do |timeslot, ts_index| %>
<ul id="ts_<%=ts_index%>" title="<%=timeslot.start_time.strftime("%I:%M %p")%>">
	<% @rooms.each_with_index do |room, rm_index| %>
	    <% presentation = @grid[ts_index][rm_index] %>
	      <%if !presentation.nil? and presentation.respond_to? :title%>
	        <li>
              <%=link_to "#{room.name}: #{presentation.title}",
                      :controller=>:schedule,
                      :action=>:iphone_presentation,
                      :params=>{:id=>presentation.id}
              %>
          </li>
	      <% end %>
	  <% end %>
</ul>
<% end %>
<script language="javascript">
startScroll();
</script>