<% content_for :content_for_title do %>
	BarCamp Philly
<% end %>
<% content_for :header do %>
	<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
	<%= stylesheet_link_tag "../iui/iui.css", :media => "screen" %>
	<%= javascript_include_tag "../iui/iui.js" %>
<% end %>


<ul id="iphone_presentation" title="<%=@presentation.title%>" selected="true">
    <li class="group">Time</li>
    <li><%=@presentation.timeslot.start_time.strftime("%I:%M %p")%></li>
    <li class="group">Room</li>
    <li><%=@presentation.room.name%> (<%=@presentation.room.location%>)</li>
    <li class="group">Presenter</li>
    <li><%=@presentation.presenter%></li>
    <li class="group">comments</li>
    <li><a class="whiteButton" href="#new_comment">Add a comment</a></li>
    <%@presentation.comments.each do |comment| %>
    <li><%=h comment.name %> wrote: <%=h comment.body %><em> at <%= (comment.created_at - 5.hours).strftime("%I:%M %p")%></em></li>
    <%end%>
</ul>

<% remote_form_for(Comment.new, :html => { :class=>'panel', :id=>"new_comment" }) do |f| %>
    <h2>New Comment</h2>
    <fieldset>
  		<%= f.hidden_field :presentation_id, :value=>@presentation.id %>
        <div class="row">
      		<%= f.label :name %> <%= f.text_field :name %>
		</div>
        <div class="row">
	  		<%= f.label :comment %><%= f.text_field :body %>
		</div>
  		<div class="row">
      		<%= f.label :email %>  <%= f.text_field :email %>
		</div>
	</fieldset>
    <a class="whiteButton" type="submit" href="#">Create</a>
<% end %>
