<% content_for :title do %>
	Rooms
<% end %>
<%= link_to_remote image_tag("add.png", :border=>0), 
    :update=>'form_div',
    :url=>new_room_path %>
<br/>
<% for room in @rooms %>
<div id="<%=room.id%>" object="room" url="<%=url_for room%>.xml">
<h2>
  <span class="rest_in_place" attribute="name"><%=h room.name %></span>
  <%= link_to image_tag("delete.png", :border=>0), room, :confirm => 'Are you sure?', :method => :delete %>
</h2>
location: <span class="rest_in_place" attribute="location"><%=h room.location %></span><br/>
capacity: <span class="rest_in_place" attribute="capacity"><%=h room.capacity %></span><br/>
</div>
<% end %>

<div id="form_div">
</div>

