<% content_for :title do %>
	Timeslots
<% end %>

<%= link_to_remote image_tag("add.png", :border=>0), 
	:update=>'form_div',
	:url=>new_timeslot_path %>

<table>
  <tr>
    <th>Start time</th>
  </tr>

<% for timeslot in @timeslots %>
  <tr>
    <td><%=h timeslot.slot_date.strftime("%b %d %Y") if timeslot.slot_date %>  <%=h timeslot.start_time.strftime("%I:%M %p") %></td>
    <td><%= link_to_remote image_tag("edit.png", :border=>0), :update=>'form_div', :url=>edit_timeslot_path(timeslot), :method => :get %></td>
    <td><%= link_to image_tag("delete.png", :border=>0), timeslot, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div id="form_div">
</div>
