<% form_for(@timeslot) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :day, :value=>'Saturday'%>
  <p>
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time, :minute_step=>15, :twelve_hour=>true %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
