<html>
  <head>
    <title><%= yield :title %></title>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "rest_in_place" %>
    <script type="text/javascript">
        rails_authenticity_token = '<%= form_authenticity_token %>'
    </script>
	<%= stylesheet_link_tag "application.css", :media => "screen" %>
	<%= yield :header %>
</head>
  <body>
	<p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>