<html>
  <head>
    <title><%= yield :title %></title>
    <%= javascript_include_tag :defaults, :cache => "cache/all" %>
    <%= javascript_include_tag "rest_in_place" %>
    <script type="text/javascript">
        rails_authenticity_token = '<%= form_authenticity_token %>'
    </script>
	<%= stylesheet_link_tag "application.css", :media => "screen" %>
	<%= yield :header %>
</head>
  <body>
    <a href="http://www.barcampphilly.org/"><img src="http://www.barcampphilly.org/images/barcamp_badge_250px.png" alt="BarCamp Philly" border="0" /></a>
	<p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
  </body>
</html>
